<p>
Add an event to the <b><%= @timeline.name %></b> timeline. (<%= link_to "Choose other timeline", root_path %>)
</p>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @event, :url => timeline_events_path do |f| %>
  <%= render :partial => "event_form_fields", :locals => { :f => f } %>
  <p>
    <%= f.submit "Add Event to the #{ @timeline.name } timeline" %>
  </p>

<% end %>

