<p>
The event was updated successfully! Amazing! Go to <%= link_to "timeline", timeline_path(@timeline) %>
</p>

<div class="event-container">
  <p class="event-info">
    <%= @event.title %> occurred on <%= format_event_date(@event.event_date) %> (<%= link_to "edit", edit_timeline_event_path(@timeline, @event) %>)
  </p>
  <div class="event-descriptions">
    <p>
      <%= @event.short_description %>
    </p>
    <p>
      <%= @event.detailed_description %>
    </p>
  </div>
  <div class="image-container">
    <% @event.images.each do |event_image| %>
      <% if event_image.image.url %>
      <%= image_tag event_image.image.url(:thumb) %>
      <% end %>
    <% end %>    
  </div>
</div>

