<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>

  <meta name="description" content=""/>
  <meta name="keywords" content=" "/>

  <meta name="robots" content="noodp"/>

  <!-- Microsoft smarties -->
  <meta http-equiv="ImageResize" content="no"/>
  <meta http-equiv="ImageToolbar" content="no"/>
  <meta name="MSSmartTagsPreventParsing" content="true"/>

  <!-- Icon -->
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'custom_style' %>
  <%= javascript_include_tag :defaults %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
  <div id="wrapper">
    <header>
    </header>
    
    <nav>
      <div class="menu">
        <ul>
          <li><%= link_to 'Home', root_path %>
          <li><%= link_to 'Add Timeline', new_timeline_path %>
          <li><%= add_event_link %></li>
        </ul>
      </div>
      </nav>
      <section id="main">
        <section id="container">
          <section id="content">

            <%= yield %>

          </section>
        </section>
      </section>
      <footer>
        <section id="footer-area">
          <section id="footer-outer-block">
            &copy; Copyright 2010 by your mom. She said, "All rights reserved, punk."
          </section>
        </section>
      </footer>
    </div>
  </body>
</html>
